version: '3.9'

services:
  backend:
    build: .
    container_name: interview_backend
    restart: always
    env_file:
      - ./.env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn interview_ai.wsgi:application --bind 0.0.0.0:8000"
