version: '3.9'

services:
  db:
    image: postgres:15
    container_name: interview_db
    restart: always
    environment:
      POSTGRES_DB: interview_ai
      POSTGRES_USER: aiadmin
      POSTGRES_PASSWORD: aipassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - interview_net

  backend:
    build: .
    container_name: interview_backend
    restart: always
    depends_on:
      - db
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://aiadmin:aipassword@db:5432/interview_ai
      - DEBUG=True
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    networks:
      - interview_net

volumes:
  postgres_data:

networks:
  interview_net:
    driver: bridge
