version: '3.8'

services:
  airflow:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: airflow_pipeline

    env_file:
      - .env

    environment:
      AIRFLOW_UID: ${AIRFLOW_UID:-50000}
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "sqlite:////opt/airflow/airflow.db"
      AIRFLOW__CORE__FERNET_KEY: "${AIRFLOW__CORE__FERNET_KEY}"
      GEMINI_API_KEY: "${GEMINI_API_KEY}"
      GEMINI_MODEL: "${GEMINI_MODEL:-gemini-2.5-flash}"

    command: >
      bash -c "
        airflow db migrate &&
        airflow users create
          --username admin
          --password admin
          --firstname admin
          --lastname admin
          --role Admin
          --email admin@example.com || true &&
        airflow webserver --port 8080 &
        airflow scheduler
      "

    ports:
      - "8080:8080"

    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/data:/opt/airflow/data
      - ./code:/app/code
      - ./resumes:/app/resumes
      - ./output:/app/output
      - ./.env:/app/.env     # <<< IMPORTANT FIX

    restart: always
